---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Button from "@/components/Button.astro";
import Section from "@/layouts/Section.astro";
import Container from "@/layouts/Container.astro";
---

<Layout title="takaoka_webdesigner">
  <Main>
    <p class="text">お腹減った</p>
  </Main>
</Layout>

<style lang="scss"></style>

<script></script>
