---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Button from "@/components/Button.astro";
import Section from "@/layouts/Section.astro";
import { Image } from "@astrojs/image/components";
import Container from "@/layouts/Container.astro";

import image1 from "@/images/music/music05.jpg";
import image2 from "@/images/music/music02.jpg";
import image3 from "@/images/music/music06.jpg";
---

<Layout title="takaoka_webdesigner">
  <Main>
    <Container>
      <div class="section">
        <div class="slideshow" data-total-masks="10">
          <svg width="1920" height="1280" viewBox="0 0 1920 1280">
            <clipPath id="slideshow__mask"></clipPath>
            <image
              xlink:href={image1.src}
              width="1920"
              height="1280"
              opacity="0"
            />
            <image
              xlink:href={image2.src}
              width="1920"
              height="1280"
              opacity="0"
            />
            <image
              xlink:href={image3.src}
              width="1920"
              height="1280"
              opacity="0"
            />
          </svg>
        </div>
      </div>
    </Container>
  </Main>
</Layout>

<script>
  import { Slideshow } from "@/js/animation/animation05/slideshow.js";
  const container = document.querySelector(".slideshow");
  const slideshow = new Slideshow(container);
  slideshow.create();
  slideshow.on();
</script>

<style lang="scss">
  .section {
    padding-top: calc(10rem);
    padding-bottom: 10rem;
  }
  .slideshow {
    svg {
      width: 100%;
      height: 100%;
    }
  }
</style>
