---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Button from "@/components/Button.astro";
import Section from "@/layouts/Section.astro";
import { Image } from "@astrojs/image/components";

import image01 from "@/images/sneakers/sneaker01.jpg";
import image02 from "@/images/sneakers/sneaker02.jpg";
import image03 from "@/images/sneakers/sneaker03.jpg";
import image04 from "@/images/sneakers/sneaker04.jpg";
import image05 from "@/images/sneakers/sneaker05.jpg";
import image06 from "@/images/sneakers/sneaker06.jpg";
import image07 from "@/images/sneakers/sneaker07.jpg";
import image08 from "@/images/sneakers/sneaker08.jpg";

const images = [
  image01,
  image02,
  image03,
  image04,
  image05,
  image06,
  image07,
  image08,
];
---

<Layout title="takaoka_webdesigner">
  <Main>
    <div class="spacer"></div>
    <div class="sticky-container" data-content-sticky="0">
      <div class="scroll-container">
        <ul class="list" data-scroll-slider="0">
          {
            images.map((image, index) => (
              <li class="list__item" data-scroll-slider-item>
                <Image
                  src={image}
                  alt="sneaker"
                  width="1024px"
                  layout="responsive"
                  loading="lazy"
                />
              </li>
            ))
          }
        </ul>
        <p class="scroll-container__text _roboto">scrub horizon</p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="sticky-container" data-content-sticky="1">
      <div class="scroll-container">
        <ul class="list" data-scroll-slider="1">
          {
            images.map((image, index) => (
              <li class="list__item" data-scroll-slider-item>
                <span
                  class="list__image-container"
                  data-scroll-slider-img-container
                >
                  <Image
                    src={image}
                    alt="sneaker"
                    width="1024px"
                    layout="responsive"
                    loading="lazy"
                  />
                </span>
              </li>
            ))
          }
        </ul>
        <p class="scroll-container__text _roboto">scrub fadeout</p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="sticky-container" data-content-sticky="2">
      <div class="scroll-container">
        <ul class="list" data-scroll-slider="2">
          {
            images.map((image, index) => (
              <li class="list__item" data-scroll-slider-item>
                <Image
                  src={image}
                  alt="sneaker"
                  width="1024px"
                  layout="responsive"
                  loading="lazy"
                />
              </li>
            ))
          }
        </ul>
        <p class="scroll-container__text _roboto">easing horizon</p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="sticky-container" data-content-sticky="3">
      <div class="scroll-container">
        <ul class="list" data-scroll-slider="3">
          {
            images.map((image, index) => (
              <li class="list__item" data-scroll-slider-item>
                <span
                  class="list__image-container"
                  data-scroll-slider-img-container
                >
                  <Image
                    src={image}
                    alt="sneaker"
                    width="1024px"
                    layout="responsive"
                    loading="lazy"
                  />
                </span>
              </li>
            ))
          }
        </ul>
        <p class="scroll-container__text _roboto">easing fadeout</p>
      </div>
    </div>
  </Main>
</Layout>

<script>
  import { init } from "@/js/animation/animation01/index";
  // import Lenis from "@studio-freight/lenis";
  // const lenis = new Lenis({
  //   smoothTouch: true,
  // });
  // function raf(time) {
  //   lenis.raf(time);
  //   requestAnimationFrame(raf);
  // }
  // requestAnimationFrame(raf);

  window.addEventListener("DOMContentLoaded", () => {
    init();
  });
</script>

<style lang="scss">
  .sticky-container {
    height: 400vh;
    border: 1px solid var(--gray);
  }
  .scroll-container {
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
  }

  .scroll-container__text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2.4rem;
    text-transform: uppercase;
  }

  .list {
    position: relative;
  }

  .list__item {
    position: absolute;
    width: 50rem;
    max-width: 80%;
    aspect-ratio: 4/3;
  }

  .list__image-container {
    // width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  .spacer {
    height: 25vh;
  }
</style>
