---
import Loading from '@/components/Loading.astro'
import WebGL from '@/components/WebGL.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="takaoka"
  description="webGLスクール第七回の課題"
  addtionalClass="fixed"
  imageUrl="sky/sky-03.jpg"
  domain="https://webgl-school-project07.vercel.app/"
>
  <Loading />
  <WebGL />
  <div class="container js-scroller">
    <div class="scrolle js-scroller-target">
      <div class="scroller-section scroller-section0">
        <div class="scroller-section__inner">
          <div class="scroller-section__body">
            <div class="title">Morning</div>
            <div class="text">
              The sun rises, casting a golden hue across the sleepy town. Birds begin their morning melodies, signaling
              the start of a new day.
            </div>
          </div>
        </div>
      </div>
      <div class="scroller-section scroller-section1">
        <div class="scroller-section__inner">
          <div class="scroller-section__body">
            <div class="title">Noon</div>
            <div class="text">
              The sun stands high in the azure sky, casting short shadows below. People bustle around, with the energy
              of midday activity and warmth enveloping the streets.
            </div>
          </div>
        </div>
      </div>
      <div class="scroller-section scroller-section2">
        <div class="scroller-section__inner">
          <div class="scroller-section__body">
            <div class="title">Night</div>
            <div class="text">
              The moon and stars emerge, painting the heavens with their shimmering light. The world settles into a calm
              hush, with only the distant sound of nocturnal creatures.
            </div>
          </div>
        </div>
      </div>
      <div class="scroller-section scroller-section3">
        <div class="scroller-section__inner">
          <div class="scroller-section__body">
            <div class="title">Dawn</div>
            <div class="text">
              A soft glow paints the horizon as night retreats. The world holds its breath, waiting for the first light
              of day, a symbol of hope and renewal.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer">
      <div class="github-button">
        <a href="https://github.com/yukaorange/webgl-school-project07"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: none;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
  .spacer {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    background-color: #dfdfdf;
  }

  .spacer .github-button {
    aspect-ratio: 1/1;
    a {
      display: block;
      font-size: 20rem;
    }
  }
  .scroller {
  }
  .scroller-section {
    width: 100%;
    height: 100vh;
  }
  .scroller-section:first-of-type .scroller-section__inner {
    height: 100%;
    display: grid;
    align-items: center;
    padding-top: 0;
  }
  .scroller-section__inner {
    padding-top: 15rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .scroller-section__body {
    padding: 8rem 2.4rem;
    // background-color: rgba(87, 87, 87, 0.5);
  }
  .title {
    font-size: 10rem;
    line-height: 1.5;
    color: var(--white);
    letter-spacing: 0.15em;
  }
  .text {
    margin-top: 3.2rem;
    font-size: 3.2rem;
    line-height: 2;
    color: var(--white);
    letter-spacing: 0.1em;
  }
  @media (max-width: 780px) {
    .title {
      font-size: 5.2rem;
    }
    .text {
      font-size: 1.8rem;
    }
  }
</style>

<script>
  import { init } from '../js/webgl/main'
  import { Loading } from '@/js/utils/Loading'
  const loading = new Loading(
    document.querySelectorAll('#loading'),
    document.querySelector('#log'),
    document.querySelector('#progress'),
  )
  window.addEventListener('load', () => {
    init()
  })
</script>
