---

import Layout from '@/layouts/Layout.astro'
import WebGL from '@/components/WebGL.astro';
---

<Layout title="takaoka_webdesigner">
  <WebGL />
  <div class="scroller">
    <div class="scroller-section scroller-section0"></div>
    <div class="scroller-section scroller-section1"></div>
    <div class="scroller-section scroller-section2"></div>
    <div class="scroller-section scroller-section3"></div>
  </div>
</Layout>

<style lang="scss">
  .secroller{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  .scroller-section {
    height: 100vh;
    width: 100%;
  }
</style>
