---
import Layout from '@/layouts/Layout.astro'
import WebGL from '@/components/WebGL.astro'
---

<Layout title="takaoka_webdesigner" addtionalClass="fixed">
  <WebGL />
  <div class="container js-scroller">
    <div class="spacer"></div>
    <div class="scrolle js-scroller-target">
      <div class="scroller-section scroller-section0">
        <div class="scroller-section__inner">
          <div class="title">morning</div>
          <div class="text"></div>
        </div>
      </div>
      <div class="scroller-section scroller-section1">
        <div class="scroller-section__inner">
          <div class="title">evening</div>
          <div class="text"></div>
        </div>
      </div>
      <div class="scroller-section scroller-section2">
        <div class="scroller-section__inner">
          <div class="title">night</div>
          <div class="text"></div>
        </div>
      </div>
      <div class="scroller-section scroller-section3">
        <div class="scroller-section__inner">
          <div class="title">doon</div>
          <div class="text"></div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</Layout>

<style lang="scss">
  .container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
  .spacer {
    width: 100%;
    height: 100vh;
  }
  .scroller {
  }
  .scroller-section {
    height: 100vh;
    width: 100%;
  }
  .scroller-section__inner {
    padding-left: 2.4rem;
    padding-top: 12rem;
  }
  .title {
    font-size: 4rem;
  }
</style>
