---
const { title, description, thumbnail, url, alt } = Astro.props;
import { Image } from "@astrojs/image/components";
---

<a href={url} class="card">
  <div class="card__inner">
    <div class="card__thumbnail">
      <Image src={thumbnail} width={600} height={400} alt={alt} />
    </div>
    <div class="card__body">
      <h3 class="card__lead">
        {title}
      </h3>
    </div>
  </div>
</a>

<style lang="scss">
  .card {
    padding: 3.2rem;
    border: 1px solid var(--black);
  }
  .card__inner {
  }
  .card__body {
    margin-top: 1.8rem;
  }
  .card__thumbnail {
    aspect-ratio: 16/9;
  }
  @media (max-width: 768px) {
    .card {
      padding: 1.6rem;
    }
    .card__body {
      margin-top: 1rem;
    }
  }
</style>
