<nav class="drawer-nav" id="drawer-nav">
  <div class="drawer-nav_wrapper">
    <div class="drawer-nav_inner">
      <ul>
        <li>
          <a href="">home</a>
        </li>
        <li>
          <a href="">about</a>
        </li>
        <li>
          <a href="">service</a>
        </li>
        <li>
          <a href="">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style lang="scss">
  .drawer-nav {
    display: none;
  }
  .drawer-nav.active {
    // display: block;
  }
</style>
