---

---

<nav class="drawer-nav" id="drawer-nav">
  <div class="drawer-nav__inner">
    <ul class="drawer-nav__list">
      <li>
        <span class="drawer-nav__item-wrap">
          <a href="https://twitter.com/home?lang=ja"><i class="fa-brands fa-twitter"></i>(X)</a>
        </span>
      </li>
      <li>
        <span class="drawer-nav__item-wrap">
          <a href="https://github.com/yukaorange/"><i class="fa-brands fa-github"></i></a>
        </span>
      </li>
    </ul>
  </div>
</nav>
<style lang="scss">
  .drawer-nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: none;
    justify-items: center;
    background-color: var(--lightgray);
  }
  .drawer-nav.active {
    display: grid;
  }
  .drawer-nav__inner {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .drawer-nav__list {
    display: flex;
    gap: 8rem;
    li {
      a {
        position: relative;
        display: block;
        font-size: 3rem;
      }
    }
  }
  .drawer-nav__item-wrap {
    display: block;
    overflow: hidden;
    a {
      transform: translateY(100%);
    }
  }
  .drawer-nav.active .drawer-nav__item-wrap {
    a {
      animation-name: slideIn;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
    @keyframes slideIn {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
</style>
