<button class="drawer-button" id="drawer-button">
  <span>menu</span>
</button>

<style lang="scss">
  .drawer-button {
    position: fixed;
    top: 7px;
    right: 10px;
    z-index: 1000;
    display: none;
    padding: 0.8rem 1.2rem 0.5rem;
    border: 1px solid var(--black);
    span {
      display: block;
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 1024px) {
    .drawer-button {
      display: block;
    }
  }
</style>
