<div class="loading">
  <div id="log"></div>
  <div id="progress"></div>
  <div class="cube">
    <div><img id="loading" data-src="/sky/sky-01.jpg" /></div>
    <div><img id="loading" data-src="/sky/sky-01.jpg" /></div>
    <div><img id="loading" data-src="/sky/sky-02.jpg" /></div>
    <div><img id="loading" data-src="/sky/sky-03.jpg" /></div>
    <div><img id="loading" data-src="/sky/sky-04.jpg" /></div>
    <div><img id="loading" data-src="/sky/sky-04.jpg" /></div>
  </div>
</div>

<style lang="scss">
  body.loaded {
    .loading {
      opacity: 0;
      pointer-events: none;
    }
  }
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    pointer-events: auto;
    // background-color: var(--gray);
    background-image: url('/sky/sky-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-delay: 0.2s;
    transition-timing-function: ease-in;
    transition-duration: 0.4s;
    overscroll-behavior: none;
  }
  #log {
    position: absolute;
    opacity: 0;
  }
  #progress {
    position: absolute;
    right: 10rem;
    bottom: 10rem;
    width: fit-content;
    font-size: 2.4rem;
    color: var(--white);
  }
  .cube {
    position: relative;
    width: 20rem;
    aspect-ratio: 1/1;
    transform-style: preserve-3d;
    animation: rotateCube 10s infinite linear;
  }
  .cube div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid var(--black);
    backface-visibility: visible;
  }
  .cube > div > img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .cube > div:nth-child(1) {
    transform: rotateY(0deg) translateZ(10rem);
  }
  .cube > div:nth-child(2) {
    transform: rotateY(180deg) translateZ(10rem);
  }
  .cube > div:nth-child(3) {
    transform: rotateY(90deg) translateZ(10rem);
  }
  .cube > div:nth-child(4) {
    transform: rotateY(-90deg) translateZ(10rem);
  }
  .cube > div:nth-child(5) {
    transform: rotateX(90deg) translateZ(10rem);
  }
  .cube > div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(10rem);
  }
  @keyframes rotateCube {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
      transform: rotateX(90deg) rotateY(90deg);
    }
    50% {
      transform: rotateX(180deg) rotateY(180deg);
    }
    75% {
      transform: rotateX(270deg) rotateY(270deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

  @media (max-width: 780px) {
    .loading {
      height: 100svh;
    }
    #progress {
      font-size: 1.8rem;
    }
  }
</style>
