<!-- <div id="container"></div> -->
<div id="container">
  <div id="slider" data-images='["","",""]' data-displacement="">
  </div>
</div>


<style lang="scss">
  #container {
    $this: &;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    // pointer-events: none;
  }
</style>
