//view
$contents: 1100;
$maxView: 1366;
$minView: 360;

//breakPoint
$x-small: 399px;
$small: 599px;
$medium: 780px;
$large: 1023px;
$x-large: 1279px;
$art-board: 1366px;

//color
$black: #323232; // 基本文字色
$white: #ffffff;
$blue: #1f22e7;
$orange: #f08e0f;
$green: #156312;
$yellow: #b2c415;
$red: #d12a2a;
