---

---

<div class="container">
  <slot />
</div>

<style lang="scss">
  .container {
    max-width: var(--max-width);
    margin-inline: auto;
  }
  .container.dark {
    background-color: var(--dark);
  }
</style>
