---
import Fnav from '../components/Fnav.astro'
---

<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__inner">
      <Fnav />
    </div>
  </div>
</footer>

<style lang="scss">
</style>
