---
import DrawerButton from "../components/DrawerButton.astro";
import { Image } from "@astrojs/image/components";
import DrawerMenu from "../components/DrawerMenu.astro";
import Gnav from "../components/Gnav.astro";
---

<header class="header">
  <div class="header__wrapper">
    <div class="header__inner">
      <a href="/" class="header__logo">
        <h1 class="_roboto">TKWD</h1>
      </a>
      <Gnav />
      <DrawerButton />
      <DrawerMenu />
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
  }
  .header__wrapper {
    margin-inline: auto;
    max-width: var(--max-width);
  }
  .header__inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header__logo {
    display: block;
    width: fit-content;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1.6rem;
    padding-bottom: 1.2rem;
    line-height: 1;
    border: 1px solid var(--black);
    h1 {
      font-size: 2rem;
      color: var(--black);
    }
  }
  @media (max-width: 768px) {
    .header__inner {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
</style>
