---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Button from "@/components/Button.astro";
import Section from "@/layouts/Section.astro";
import { Image } from "@astrojs/image/components";

import irust01 from "@/images/girls/girls01.png";
import irust02 from "@/images/girls/girls02.png";
import irust03 from "@/images/girls/girls03.png";
import irust04 from "@/images/girls/girls04.png";
import irust05 from "@/images/girls/girls05.png";
import irust06 from "@/images/girls/girls06.png";
import irust07 from "@/images/girls/girls07.png";
import irust08 from "@/images/girls/girls08.png";
import irust09 from "@/images/girls/girls09.png";
import irust10 from "@/images/girls/girls10.png";

const irusts = [
  {
    id: 1,
    image: irust01,
    title: "sample",
    text: "sampletext",
  },
  {
    id: 2,
    image: irust02,
    title: "sample",
    text: "sampletext",
  },
  {
    id: 3,
    image: irust03,
    title: "sumple",
    text: "sampletext",
  },
  {
    id: 4,
    image: irust04,
    title: "Creative",
    text: "sampletext",
  },
  {
    id: 5,
    image: irust05,
    title: "Creative",
    text: "sampletext",
  },
  {
    id: 6,
    image: irust06,
    title: "Creative",
    text: "sampletext",
  },
  {
    id: 7,
    image: irust07,
    title: "Creative",
    text: "sampletext",
  },
  {
    id: 8,
    image: irust08,
    title: "Creative",
    text: "sampletext",
  },
  {
    id: 9,
    image: irust09,
    title: "Creative",
    text: "sampletext",
  },
  {
    id: 10,
    image: irust10,
    title: "Creative",
    text: "sampletext",
  },
];
---

<Layout title="takaoka_webdesigner">
  <Main>
    <div id="container" class="webgl"></div>
    <div class="content">
      <ul class="cards">
        {
          irusts.map((data, index) => {
            return (
              <li class="card">
                <div class="card__inner">
                  <div class="card__thumbnail">
                    <Image
                      class="card__image"
                      src={data.image}
                      width={600}
                      height={400}
                      alt={data.text}
                    />
                  </div>
                </div>
                <div class="card__body">
                  <h3 class="card__title">{data.title}</h3>
                  <p class="card__text">{data.text}</p>
                </div>
              </li>
            );
          })
        }
      </ul>
    </div>
  </Main>
</Layout>

<script>
  import { Sketch } from "@/js/webgl/webgl02/webgl";
  import Lenis from "@studio-freight/lenis";

  const imagesDOM = document.querySelectorAll(".card__image");
  const images = [...imagesDOM];

  const sketch = new Sketch({
    dom: document.getElementById("container"),
    images: images,
  });

  const lenis = new Lenis({
    smoothTouch: true,
  });

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>

<style lang="scss">
  #container {
    position: fixed;
    z-index: -1;
    inset: 0;
  }

  .content {
    margin-top: 8rem;
    max-width: var(--max-width);
    margin-inline: auto;
  }

  .cards {
    width: fit-content;
    > * + * {
      margin-top: 5rem;
    }
  }

  .card {
    cursor: pointer;
  }
  .card__inner {
  }
  .card__thumbnail {
    width: 100%;
    aspect-ratio: 4/3;
    img {
      opacity: 0;
    }
  }
  .card__body {
    margin-top: 1.8rem;
  }
  .card__title {
    color: var(--white);
  }
  .card__text {
    color: var(--white);
  }
</style>
