---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Button from "@/components/Button.astro";
import Section from "@/layouts/Section.astro";
---

<Layout title="takaoka_webdesigner">
  <Main>
    
  </Main>
</Layout>

<script>
import { logfunc } from "@/js/webgl/webgl01";
  logfunc()
</script>

<style lang="scss"></style>